<?xml version="1.0"?>
<robot name="q_bot">
    <!-- materials -->
    <material name= "white">
        <color rgba="1 1 1 1"/>
    </material>

    <material name = "grey">
        <color rgba = "0.7 0.7 0.1 1"/>
    </material>

    <material name="green">
        <color rgba="0 1 0 1"/>
    </material>

    <!-- links -->
    <!-- <link name="odom"></link> -->

    <link name="base_link">
        <visual>
            <geometry>
                <cylinder length="0.10938" radius="0.178"/>
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <material name="green"/>
        </visual>
    </link>

    <link name="wheel_left_link">
        <visual>
            <geometry>
                <cylinder length="0.03" radius="0.05"/>
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <material name="white"/>
        </visual>
    </link>

    <link name="wheel_right_link">
        <visual>
            <geometry>
                <cylinder length="0.03" radius="0.05"/>
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <material name="white"/>
        </visual>
    </link>

    <link name="caster_front_link">
        <visual>
            <geometry>
                <cylinder length="0.03" radius="0.025"/>
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <material name="white"/>
        </visual>
    </link>

    <link name="caster_back_link">
        <visual>
            <geometry>
                <cylinder length="0.03" radius="0.025"/>
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <material name="white"/>
        </visual>
    </link>

    <link name="sensor_mount_link">
        <visual>
            <geometry>
                <box size="0.08 0.12 0.05"/>
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
            <material name="white"/>
        </visual>
    </link>



    <!-- joints -->
    <!-- <joint name="base_joint" type="fixed">
        <parent link="odom"/>
        <child link="base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint> -->

    <joint name="wheel_left_joint" type="continuous">
        <parent link="base_link"/>
        <child link="wheel_left_link"/>
        <origin xyz="0 0.193 0.025" rpy="-1.5708 0 0"/>
        <axis xyz="0 0 1"/>
    </joint>

    <joint name="wheel_right_joint" type="continuous">
        <parent link="base_link"/>
        <child link="wheel_right_link"/>
        <origin xyz="0 -0.193 0.025" rpy="-1.5708 0 0"/> 
        <axis xyz="0 0 1"/>
    </joint>

    <joint name="caster_front_joint" type="fixed">
        <parent link="base_link"/>
        <child link="caster_front_link"/>
        <origin xyz="0.115 0 0.007" rpy="-1.5708 0 0"/> 
    </joint>

    <joint name="caster_back_joint" type="fixed">
        <parent link="base_link"/>
        <child link="caster_back_link"/>
        <origin xyz="-0.135 0 0.009" rpy="-1.5708 0 0"/> 
    </joint>

    <joint name="sensor_mount_joint" type="fixed">
        <parent link="base_link"/>
        <child link="sensor_mount_link"/>
        <origin xyz="0 0 0.35" rpy="0 0 0"/> 
    </joint>
    <ros2_control name='qbot_system' type='system'>
    <hardware>
       <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name='wheel_left_joint'>
        <command_interface name='velocity'>
            <param name="min">-10</param>
            <param name="max">10</param>
        </command_interface>
        <state_interface name='position'/>
        <state_interface name='velocity'/>
    </joint>

    <joint name='wheel_right_joint'>
        <command_interface name='velocity'>
            <param name="min">-10</param>
            <param name="max">10</param>
        </command_interface>
        <state_interface name='position'/>
        <state_interface name='velocity'/>
    </joint>
</ros2_control>

</robot>